/* Add styles for note cards */
.note-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
margin-top: 50px;
}

.note-card h3 {
    margin-top: 30px;
    font-size: 1.2em;
}

.note-card p {
    font-size: 1em;
}

.note-card button {
    background-color: #FF6347; /* Use a bright red color for the delete button */
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}
.new-note {
    background-color: #f3ea99;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
